@columnas : 60;
@ancho_columna: 12;
@ancho_margen: 20;

//breakpoints para las media queries
@bp1 : 31em;      // 480px
@bp2 : 37.5em;    // 600px
@bp3 : 48em;      // 768px
@bp4 : 56.25em;   // 900px
@bp5 : 68.75em;   // 1100px